#image1 {
    border: 2px solid black;
    height: 500px;
    margin: 10px;
    padding: 10px;
    width: 500px;
}

#image2 {
    border: 2px solid black;
    height: 500px;
    margin: 10px;
    padding: 10px;
    width: 500px;
}

#image3 {
    border: 2px solid black;
    height: 500px;
    margin: 10px;
    padding: 10px;
}

#image4 {
    border: 2px solid black;
    height: 500px;
    margin: 10px;
    padding: 10px;
    width: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}